/* Стилі для елементів інтерфейсу */

body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  color: #333333;
}

h1 {
  color: #333333;
}

h2 {
  color: #666666;
}

form {
  margin-bottom: 20px;
}

input[type='text'],
button[type='submit'] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

input[type='text'],
button[type='clearAllTasks'] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

input[type='text'] {
  width: 200px;
}

button[type='submit'] {
  background-color: #f0ad4e;
  color: #ffffff;
  cursor: pointer;
}

button[type='clearAllTasks'] {
  background-color: #cd7400;
  color: #ffffff;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  position: relative;
}

li span {
  display: block;
  margin-bottom: 5px;
}

li .status {
  color: #666666;
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
}

li button {
  padding: 5px 10px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

li button:nth-child(1) {
  background-color: #5cb85c;
  color: #ffffff;
}

li button:nth-child(2) {
  background-color: #d9534f;
  color: #ffffff;
}

li button:nth-child(3) {
  background-color: #337ab7;
  color: #ffffff;
}

.task-container {
  display: flex;
}

.task-list {
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
}

.task-list li {
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}

.task-list li span {
  display: block;
}

.task-list li .status {
  font-weight: bold;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  margin-bottom: 10px;
}

.modal-content button {
  margin-top: 10px;
}

.task-container {
  display: flex;
  justify-content: space-around;
  width: 1900px;
}

.column-header {
  display: flex;
  align-items: center;
}

.column-icon {
  width: 70px;
  height: 70px;
}

.task-column {
  width: 500px;
}
